/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* google fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');

/* * asset wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* this means styling applyed to all elements will include the border box */

}

/* general styles */
body {
    min-height: 100vh;  /*this will allow it to stretch larger than screen if enough content */
    display: flex;
    flex-direction: column; /* elements will still show underneath each other*/   
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* header */
header {
    background-color: lightcoral;
}
/* main content */
main {
    background-color: lightblue;
    /*Tmake main element take up any surplus splace to push footer down*/
    flex: 1 0 auto; 
}   
/* footer */
footer {
    background-color: orange;
}