/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* google fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');

/* * asset wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* this means styling applyed to all elements will include the border box */

}

/* general styles */
body {
    min-height: 100vh;  /*this will allow it to stretch larger than screen if enough content */
    display: flex;
    flex-direction: column; /* elements will still show underneath each other*/   
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}


/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;    
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    /*Tmake main element take up any surplus splace to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}   

/* Hero Section */
#hero {
    height: 600px;
    width:100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* final rgba value sets opacity to semi-transparent */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Reasons section */

#benefits h3 {
    display: inline-block;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}
#reasons h2 {
    font-size: 280%;
    text-align: center;
}

#reasons hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

.benefit-box {
    margin-bottom: 20px;
}
.benefit-box p {
    padding: 0 20px;
}


/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* media query for tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    /* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main content */
main {
    /* Push main content down to accomodate larger header */
    margin-top: 79px;
}

/* Hero */
#cover-text {
    width: 300px;
    right: 50px;
}

}

/* Large devices - laptops and larger (992px and up) */

@media screen and (min-width: 992px) {

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

}
